# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

1.On amazon website we have the following available item-

amazon_website = [("watch",5000),("phone",10000),("laptop",50000),("shirt",1000)]

Take the user input N no.of times and find out the total cost to be paid?

OR

You can ask the user quantity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it

HINT:While,for loop..indexing

In [45]:
amazon_website=[["watch",5000]["phone",10000]["laptop",50000]["shirt",1000]]
total_cost=0
print(f"empty:{total_cost}")   
 
for item in amazon_website:
  print(item[1])
  total_cost=total_cost+item[1]
  print(f"afeter adding{item[0]}:{total_cost}")
print(f"Total paid amount:{total_cost}")

TypeError: ignored

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [12]:
arr=[1,2,3,4,5,6]
for i in range(1,6):
    arr[i-1]=arr[i]
for i in range(0,6):
    print(arr[i],end=" ")

2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [8]:
var=int(input())
tup=(1,2,3,3)
a=list(tup)
for i in range(len(a)):
  a[i]=int(a[i])
count=a.count(var)  
print(count,'times in the tuple')

3
2 times in the tuple

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [ ]:
l = [(10,20,40),(40,50,60),(70,80,90)]
print(t[:-1] + (500,) for t in l)